<!DOCTYPE html>
<html>

<head>
    <title>emoji race</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            position: relative;
            width: 100vw;
            height: 100vh;
        }

        .emoji {
            display: block;
            left: 0px;
            font-size: 72px;
            white-space: nowrap;
        }

        .emoji img {
            height: 1em;
        }

        #announcement {
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 4px;
            color: #fff;
            font-family: sans-serif;
            font-weight: bold;
            height: 500px;
            left: 0px;
            margin: 0 auto 0 auto;
            position: absolute;
            text-align: center;
            text-shadow: 10px 10px 0px black;
            top: 0px;
            width: 100%;
        }

        #hejomoji-race-logo {
            margin: 0 auto 0 auto;
            padding-top: 5em;
            display: none;
        }

        #byline {
            background-color: #FA3937;
            color: #F9D323;
            display: none;
            font-family: 'DejaVu Sans';
            font-size: 2em;
            font-weight: bolder;
            padding: 5px;
            position: absolute;
            text-align: center;
            top: calc(100% - 2em);
            width: 100%;
        }

        .smoke {
            left: -115px;
            position: relative;
            top: 2.2em;
            display: block;
            font-size: 0.5em;
            width: 158px;
        }

        .emoji_unicode {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            display: inline-block;
        }

        .accessory {
            visibility: hidden;
        }

        .accessory.hat {
            top: -45px;
            position: relative;
            font-size: 43px;
            left: -81px;
        }

        .accessory.eyes {
            font-size: 45px;
            top: -14px;
            position: relative;
            left: -147px;
        }

        .accessory.hands {
            position: relative;
            font-size: 45px;
            top: 20px;
            left: -190px;
        }
    </style>
</head>

<body>
    <div id="container" class="container">
        <img id="hejomoji-race-logo" src="<%=sockets_prefix%>/img/hejomoji-race-logo.png" />
        <div id="players" class="players">
        </div>
        <div id="announcement" class="announcement">
        </div>
        <div id="byline">Based on an idea from Hejo. Dust effect loop by Tasartir.</div>
    </div>
    <div id="templates" style="display: none;">
        <span class="emoji_template">
            <video autoplay="" loop="" class="smoke">
                <source src="<%=sockets_prefix%>/img/smoke.webm" type="video/webm">
            </video>
            <span class="emoji_unicode">😀</span>
            <img class="emoji_image" src="" />
            <span class="accessory hat unicode">👾</span>
            <img class="accessory hat image" src="" style="display: none;" />
            <span class="accessory eyes unicode">👾</span>
            <img class="accessory eyes image" src="" style="display: none;" />
            <span class="accessory hands unicode">👾</span>
            <img class="accessory hands image" src="" style="display: none;" />
        </span>
        <audio id="audio_race_countdown" src="<%=sockets_prefix%>/race_countdown.m4a" />
    </div>
    <script src="<%=sockets_prefix%>/socket.io/socket.io.js"></script>
    <script>
        // Fit text to viewport!
        // https://dev.to/jankapunkt/make-text-fit-it-s-parent-size-using-javascript-m40#fixed-height-fixed-width

        const isOverflown = ({
            clientHeight,
            scrollHeight
        }) => scrollHeight > clientHeight

        const resizeText = ({
            element,
            elements,
            minSize = 10,
            maxSize = 512,
            step = 1,
            unit = 'px'
        }) => {
            (elements || [element]).forEach(el => {
                let i = minSize
                let overflow = false
                const parent = el.parentNode
                while (!overflow && i < maxSize) {
                    el.style.fontSize = `${i}${unit}`
                    overflow = isOverflown(parent)
                    if (!overflow) i += step
                }
                // revert to last state where no overflow happened
                el.style.fontSize = `${i - step}${unit}`
            })
        }
    </script>
    <script>
        var socket = io('https://<%=sockets_host%>', {
            path: '<%=sockets_prefix%>/socket.io'
        });
        const raceStatus = Object.freeze({
            "no_race": 1,
            "waiting": 2,
            "in_progress": 3,
            "finished": 4
        });

        function startRace(msg) {
            console.log("Race is starting.");
            document.getElementById('hejomoji-race-logo').style.width = '350px';
            document.getElementById('byline').style.display = 'none';
            for (let i = 0; i < msg.players.length; i++) {
                const playerTemplate = document.getElementsByClassName('emoji_template')[0];
                const playerWrapper = playerTemplate.cloneNode(true);
                playerWrapper.classList.replace('emoji_template', 'emoji');
                playerWrapper.id = `player_${msg.players[i].id}`;

                const unicodeEmojiElement = playerWrapper.getElementsByClassName('emoji_unicode')[0];
                const imageEmojiElement = playerWrapper.getElementsByClassName('emoji_image')[0];
                if (msg.players[i].emojis.main.startsWith('/') === false) {
                    // Unicode emoji
                    unicodeEmojiElement.innerHTML = msg.players[i].emojis.main;
                    // Remove the unused image emoji tag
                    imageEmojiElement.remove();
                } else {
                    // Image emoji
		            imageEmojiElement.src = "https://<%=images_host%>"+msg.players[i].emojis.main;
                    // Remove the unused unicode emoji span
                    unicodeEmojiElement.remove();
                }

                // Accessories
                const AccessorySlotsNames = ['hat', 'eyes', 'hands'];
                for (let j = 0; j < AccessorySlotsNames.length; j++) {
                    const unicodeAccessoryElement = playerWrapper.querySelector(`.unicode.${AccessorySlotsNames[j]}`);
                    const imageAccessoryElement = playerWrapper.querySelector(`.image.${AccessorySlotsNames[j]}`);
                    if (msg.players[i].emojis[AccessorySlotsNames[j]] !== null) {
                        if (false === msg.players[i].emojis[AccessorySlotsNames[j]].startsWith('/')) {
                            // Unicode emoji
                            unicodeAccessoryElement.style.visibility = 'visible';
                            unicodeAccessoryElement.innerHTML = msg.players[i].emojis[AccessorySlotsNames[j]];
                        } else {
                            // Image emoji
		 	                imageAccessoryElement.src = "https://<%=images_host%>"+msg.players[i].emojis[AccessorySlotsNames[j]];
                            imageAccessoryElement.style.display = 'inline';
                            imageAccessoryElement.style.visibility = 'visible';
                            unicodeAccessoryElement.style.display = 'none';
                        }
                    }
                }

                // Add the player to the DOM
                document.getElementById('players').append(playerWrapper);

                setTimeout(function() {
                    // Hide the player's dust effect when they're done
                    const smokeImage = playerWrapper.getElementsByClassName('smoke')[0];
                    smokeImage.style.visibility = 'hidden';
                }, msg.players[i].properties.duration * 1000);
            }

            // Wait 50ms, otherwise the transition might happen *before* the emojis are actually drawn on screen.
            setTimeout(function() {
                // TODO tell server the race has started
                const emojiSpans = document.getElementsByClassName('emoji');
                for (let i = 0; i < emojiSpans.length; i++) {
                    console.log('properties', msg.players[i].properties);
                    const topPos = i * 150;
                    const style = `position: absolute; left: 90%; transition: left ${msg.players[i].properties.duration}s ${msg.players[i].properties.easing} ${msg.players[i].properties.delay}ms; top: ${topPos}px; transition-delay: 1s;`;
                    emojiSpans[i].style = style;
                    emojiSpans[i].dataset.time = msg.players[i].properties.duration;
                    emojiSpans[i].dataset.name = msg.players[i].display_name;
                }

                // Here, the race is underway !

                // Wait for the fastest player to finish the race.
                setTimeout(function() {
                    // We don't do anything here at the moment.
                    console.log("Winner crossed the finish line: ", msg.durations.fastest.player);
                }, msg.durations.fastest.speed * 1000);

                // Wait for the slowest player to finish the race.
                setTimeout(function() {
                    // The slowest player crossed the finish line.
                    // Race has ended.
                    console.log("Last player crossed the finish line: ", msg.durations.slowest.player);
                    document.getElementById('hejomoji-race-logo').style.display = 'none';
                    // announce the winner
                    announce(`${msg.durations.fastest.player} won!`);
                    // tell the server the race is over
                    socket.emit('status_change', raceStatus.finished);
                }, msg.durations.slowest.speed * 1000 + 1000);
            }, 50);
        }

        function announce(text) {
            document.getElementById("announcement").innerHTML = text;
            // Fit text to screen
            resizeText({
                elements: document.querySelectorAll("#announcement"),
                step: 1
            });
        }

        socket.on("status_change", (msg) => {
            msg = JSON.parse(msg);
            console.log("Status change event from server:", msg);
            switch (msg.status) {
                case raceStatus.no_race:
                    setTimeout(function() {
                        announce(" ");
                        const emojiSpans = document.getElementsByClassName('emoji');
                        while (emojiSpans.length > 0) {
                            // emojiSpans is a live collection, that's why the while loop looks unusual.
                            // see: https://stackoverflow.com/questions/4777077/removing-elements-by-class-name/14066534#14066534
                            emojiSpans[0].parentNode.removeChild(emojiSpans[0]);
                        }
                    }, 10000);
                    break;
                case raceStatus.waiting:
                    break;
                case raceStatus.in_progress:
                    console.log("Race wil lstart soon...");
                    document.getElementById('audio_race_countdown').play();
                    document.getElementById('hejomoji-race-logo').style.display = 'block';
                    document.getElementById('hejomoji-race-logo').style.width = '80%';
                    document.getElementById('byline').style.display = 'block';
                    // Start race after the intro
                    setTimeout(startRace, 4000, msg);
                    break;
                case raceStatus.finished:
                    break;
            }
        });
    </script>
</body>

</html>
