<!DOCTYPE html>
<html>

<head></head>

<body>
    <ul>
	    <li><a href="<%=sockets_prefix%>/emoji-wall">emoji wall</a></li>
	    <li><a href="<%=sockets_prefix%>/emoji-race">emoji race</a></li>
	    <li><a href="<%=sockets_prefix%>/webhooks/tts">tts</a></li>
    </ul>
</body>

</html>
